body {
    background-color: #b2f4fc;
    color: #1B1B1B;
    font-size: 30px;
    margin: 0;
}

textarea {
    padding: 25px;
    margin: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 30px;
    width: 40vw;
}

.button {
    border: 0;
    border-radius: 10px;
    background-color: rgb(0, 149, 255);
    color: white;
    padding: 15px;
    margin: 25px;
    font-size: 30px;
}

.header {
    text-align: center;
    margin: 20px;
}

.heading {
    font-size: 70px;
}

.subheading {
    font-size: 40px;
}

.content {
    background-color: rgb(0, 30, 255);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 20px 250px;
}

.control {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}